// InputTags
.tag,
.app_input_tags {
  margin-block: 5px;

  font-size: 12px !important;
  margin-right: 10px;
}

.app_tag_wrapper,
.app_input_tags,
.app_new_tag_wrapper {
  $tag-height: 30px;
  height: $tag-height !important;
  line-height: $tag-height !important;

  &:active,
  &:focus,
  &:focus-within {
    height: $tag-height !important;
    line-height: $tag-height !important;
  }
}

.tag-remove,
.tags-reset {
  border-radius: 50%;
  position: absolute;
  top: 0%;
  right: 0%;
}

.tag-remove {
  transform: translate(25%, 0px);
}

.tags-reset {
  transform: translate(6px, -6px);
}

.app_input_tags_wrapper {
  box-shadow: 0.25px 0.25px 1.5px rgba(0, 0, 0, 0.35) !important;
  padding: 5px 10px;
  border-radius: 16px;
}

.app_input_tags {
  text-transform: uppercase;
  border-radius: 100px !important;
  box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.35) !important;
  display: flex !important;
  align-items: center !important;
  font-size: 12px !important;
  text-align: center !important;
  justify-content: center !important;

  padding: 0px !important;
  margin: 2px !important;
  margin: 0 !important;
  outline: none !important;
  border-color: lightgray !important;
  background: white !important;

  &:active,
  &:focus,
  &:focus-within {
    padding: 0px !important;
    margin: 2px !important;
    margin: 0 !important;
    outline: none !important;
    border-color: lightgray !important;
    background: white !important;
  }
}
