.status-pending {
  color: rgba(0, 0, 255, 1);
  border-radius: 3px;
  letter-spacing: 1.4px;
  font-size: 11px;
}

.status-accepted {
  color: rgba(0, 255, 0, 1);
  border-radius: 3px;
  letter-spacing: 1.4px;
  font-size: 11px;
}

.status-rejected {
  color: rgba(255, 0, 0, 1);
  border-radius: 3px;
  letter-spacing: 1.4px;
  font-size: 11px;
}

.invitation-action {
  height: 16px;
  width: 16px;
}
