// @import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@300;400;500;600;700;800&display=swap");

@import "./fonts/fonts.scss";

@import "./app/global-styles/scss-globals.scss";
@import "./app/global-styles/tailwind-globals.scss";
@import "./app/global-styles/scrollbar.scss";

@import "./app/components/forms/components/basic-inputs/basic-inputs.scss";
@import "./app/components/Projects/projects-styles.scss";
@import "./app/components/Projects/visuals/project-visuals.scss";
@import "./app/components/Tasks/visuals/task-visuals.scss";

@import-normalize;

* {
  box-sizing: border-box !important;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  position: absolute;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: absolute;
}

#root {
  margin: 0 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
}

img {
  max-width: unset;
  height: unset;
  image-rendering: auto !important;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
  position: relative;
}
