.render-object {
  min-width: 300px;
  white-space: pre;
  text-align: left;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  word-spacing: 2px;
  font-size: 12px;
  font-family: "Roboto Mono";
  font-weight: 700;
  border-radius: 3px;
  padding: 16px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) brightness(1.1);
}

// Header
$header_height: 56px;

.app_header_height {
  height: $header_height !important;
}

.app_header_top {
  top: $header_height !important;
}

// Sidebar
.sidebar-overlay {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.sidebar-blur {
  backdrop-filter: blur(16px);
}

.sidebar-in-transition {
  transition: background-color 0.3s ease-out;
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
}
.sidebar-out-transition {
  transition: background-color 0.3s ease-out, width 0.1s 0.35s;
  background-color: rgba(0, 0, 0, 0);
  width: 0;
}

// Input Label
.app_input_label.required.after\:pl-1::after {
  content: "*" !important;
}

// InputTags
.tag,
.app_input_tags {
  margin-block: 5px;

  font-size: 12px !important;
  margin-right: 10px;
}

.app_tag_wrapper,
.app_input_tags,
.app_new_tag_wrapper {
  $tag-height: 30px;
  height: $tag-height !important;
  line-height: $tag-height !important;

  &:active,
  &:focus,
  &:focus-within {
    height: $tag-height !important;
    line-height: $tag-height !important;
  }
}

.tag-remove,
.tags-reset {
  border-radius: 50%;
  position: absolute;
  top: 0%;
  right: 0%;
}

.tag-remove {
  transform: translate(25%, 0px);
}

.tags-reset {
  transform: translate(6px, -6px);
}

.app_input_tags_wrapper {
  box-shadow: 0.25px 0.25px 1.5px rgba(0, 0, 0, 0.35) !important;
  padding: 5px 10px;
  border-radius: 16px;
}

.app_input_tags {
  text-transform: uppercase;
  border-radius: 100px !important;
  box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.35) !important;
  display: flex !important;
  align-items: center !important;
  font-size: 12px !important;
  text-align: center !important;
  justify-content: center !important;

  padding: 0px !important;
  margin: 2px !important;
  margin: 0 !important;
  outline: none !important;
  border-color: lightgray !important;
  background: white !important;

  &:active,
  &:focus,
  &:focus-within {
    padding: 0px !important;
    margin: 2px !important;
    margin: 0 !important;
    outline: none !important;
    border-color: lightgray !important;
    background: white !important;
  }
}

.test {
  background-color: #804a28; // nutella
  background-color: #fd3e04; // kinder
  background-color: #ff660f; // reese-s

  background-color: #e6b725; // prince-polo-classic
  background-color: #007d51; // prince-polo-nutty
  background-color: #13ad71; // after-eight

  background-color: #7d69b0; // milka
  background-color: #125cff; // prince-polo-milky
  background-color: #050697; // wedel
}
