// Input Label
.app_input_label.required.after\:pl-1::after {
  content: "*" !important;
}

.test {
  background-color: #804a28; // nutella
  background-color: #fd3e04; // kinder
  background-color: #ff660f; // reese-s

  background-color: #e6b725; // prince-polo-classic
  background-color: #007d51; // prince-polo-nutty
  background-color: #13ad71; // after-eight

  background-color: #7d69b0; // milka
  background-color: #125cff; // prince-polo-milky
  background-color: #050697; // wedel
}
